.tag {
    border-radius: 4px;
    padding: 4px 8px;
    background-color: white;
    color: #1e2c4f;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
    font-family: "Roboto Light";
    font-size: 1rem;
}