.classrooms {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;
}

.checkboxLabel {
    font-size: 1.2rem;
    padding: 8px;
    font-family: "Roboto Thin";
}

.checkboxLabel input {
    position: relative;
    z-index: -9999;
}

.checkboxLabel span {
    margin-bottom: -10px;
    width: 20px;
    height: 20px;
    padding: 4px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 8px;
    display: inline-block;
    background: url("../../assets/check.png");
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
    transition: all .3s linear;
    cursor: pointer;
}

.checkboxLabel input:checked + span {
    background-color: rgb(0, 110, 212);
    background-image: url("../../assets/check.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;

}

.checkboxLabel input:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0, 110, 212, 0.5);
}

.checkboxLabel input:hover + span {
    border: 2px solid rgba(255, 255, 255, 1);
}

.checkboxLabel input:active + span {
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(0, 110, 212, .5);
}

.conditionalFilters {
    display: inline-block;
    position: absolute;
    right: 16px;
}