.button {
    background-color: #1e2c4f;
    border-radius: 8px;
    padding: 8px;
    margin-left: 8px;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: all .1s linear;
}

.button:hover, .button.focus  {
    border: none;
    background-color: #006fd6;
}

.button:focus {
    outline: none;
}