.instruments {
  margin: 16px 0;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.instruments::before {
  content: "Інструменти";
  color: #1e2c4f;
  font-family: "Roboto Medium";
  background-color: #fff;
  padding: 4px;
  position: absolute;
  top: -15px;
  left: 16px;
}

.disabledAlert {
  width: 100%;
  text-align: center;
  margin: 0 0 16px 0;
  padding: 8px 0;
  border-radius: 8px;
  font-size: 1rem;
  color: crimson;
  background-color: rgba(220, 20, 60, .1);
}