.usersUnitList {
    margin: 0 auto;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    width: 50vw;
    font-family: "Roboto Light";
    transition: all .2s ease-in;
}

.usersUnitList:hover {
    background-color: rgba(0, 0, 0, .1);
}

.listHeader, .listHeader:hover {
    background-color: #1e2c4f;
    color: #fff;
    font-family: "Roboto Light";
}

.users {
    margin: 16px;
}

.usersHeader {
    background-color: #1e2c4f;
    color: #fff;
    font-family: "Roboto Thin";
    font-weight: 100;
    font-size: 2rem;
    margin: -16px;
    padding: 16px;
}

.users ul {
    margin-top: 32px;
}

.userLink a{
    color: #006ed4;
    padding: 0;
}

.paginator {
    list-style-type: none;
    display: inline-block;
}

.paginator li {
    display: inline;
    padding: 2px 6px;
    border: 1px solid rgba(0, 110, 212, .3);
    border-radius: 4px;
    margin-right: 4px;
    font-family: "Roboto Light";
    color: #006ed4;
    font-size: 1rem;
}

.paginator li:hover {
    background-color: #fff;
    border: 1px solid rgba(0, 110, 212, 1);
}

.selectPageSize {
    padding: 2px 6px;
    border: 1px solid rgba(0, 110, 212, .3);
    border-radius: 4px;
    margin-left: 4px;
    font-family: "Roboto Light";
    font-size: 1rem;
    color: #006ed4;
    background-color: rgba(255, 255, 255, 0);
}

.selectPageSize:hover {
    background-color: #fff;
    border: 1px solid rgba(0, 110, 212, 1);
}

.selectPageSize:focus {
    outline: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    align-items: center;
}

.userSearch {
    background-color: #1e2c4f;
    border-radius: 8px;
    padding: 4px;
    border: 2px solid #1e2c4f;
    color: #fff;
    font-family: "Roboto Light";
    font-size: 1rem;
    margin-top: -8px;
    margin-bottom: -8px;
}

.userSearch:focus {
    border: 2px solid #fff;
    outline: none;
}

