.occupationInfo {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .2);
    position: relative;
    margin-top: 8px;
}

.occupationInfo::before {
    content: "Інформація про утримувача";
    color: #1e2c4f;
    font-family: "Roboto Medium";
    background-color: #fff;
    padding: 4px;
    position: absolute;
    top: -15px;
    left: 16px;
}

.occupant {
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
    font-family: "Roboto Light";
}

.until {
    padding-top: 16px;
}