.modalContent {
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    top: 20%;
    margin: auto;
    padding: 0;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animateTop;
    animation-duration: 0.4s;
    background-color: #fff;
}

.modal {
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(30, 44, 79);
    background-color: rgba(30, 44, 79, 0.4);
}

.modalHeader {
    padding: 2px 16px;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
    color: #1e2c4f;
}

.modalHeader h2 {
    font-size: 1.2rem;
    font-family: "Roboto Medium";
    font-weight: normal;
    text-align: center;
}

.modalFooter {
    padding: 2px 16px;
    background-color: #fff;
    color: white;
}



.close {
    top: -2px;
    right: 12px;
    position: absolute;
    font-family: "Roboto Black";
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #bd1930;
    width: 30px;
    height: 24px;
    text-align: center;
    padding-bottom: 6px;
    border-radius: 8px;
    margin-top: 16px;
    transition: all 0.2s ease-in;
}

.close:hover,
.close:focus {
    color: #1e2c4f;
    text-decoration: none;
    background-color: #fff;
    cursor: pointer;
}

@keyframes animateTop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 20%;
        opacity: 1;
    }
}

.modalBody {
    padding: 20px 16px;
    background-color: #fff;
    margin: auto;
    width: fit-content;
}