.loadingSplash {
    background-color: #1e2c4f;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    color: white;
    left: 0;
    top: 0;
}

.loadingSplashBody {
    margin: 20vH auto;
    width: 600px;
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
    padding: 32px;
    border-radius: 8px;
}