.instruments {
  margin: 16px 0;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.instruments::before {
  content: "Інструменти";
  color: #1e2c4f;
  font-family: "Roboto Medium";
  background-color: #fff;
  padding: 4px;
  position: absolute;
  top: -15px;
  left: 16px;
}