.scheduleTimeline {
    display: grid;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .2);
    position: relative;
}

.scheduleTimeline::before {
    content: "Розклад на сьогодні";
    color: #1e2c4f;
    font-family: "Roboto Medium";
    background-color: #fff;
    padding: 4px;
    position: absolute;
    top: -15px;
    left: 16px;
}

.scheduleUnit {
    background-color: #1890ff;
    color: #fff;
    margin-left: 2px;
    border-radius: 3px;
    padding-left: 5px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.scheduleUnit span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scheduleUnit:hover {
    background-color: rgba(24, 144, 255, 0.7);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}
