.header {
    background-color: #1e2c4f;
    color: #fff;
    font-family: "Roboto Thin";
    font-weight: 100;
    font-size: 2rem;
    padding: 16px;
    user-select: none;
    margin: -16px -16px 16px;
}