.cell {
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-height: 125px;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.cell:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.cellHeader {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8px;
}

.cellName {
  color: #fff;
  font-family: "Roboto Black";
  font-size: 1.8rem;
  border-radius: 8px;
  padding: 6px;
  width: 3.2rem;
  text-align: center;
}

.occupant h2 {
  margin: 0;
  padding: 0;
  color: #1e2c4f;
  font-family: "Roboto Medium";
  line-height: 1.4;
  font-size: 1.1rem;
}

.occupantType {
  color: #5c5c5c;
  font-family: "Roboto Light";
  font-size: 1rem;
}

.occupantTypeIndicator {
  content: "";
  display: inline-block;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

.message {
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.04);
  color: #454545;
  font-family: "Roboto Light";
  line-height: 1.5;
  font-size: 0.9rem;
  margin: -8px;
}

.message span {
  font-family: "Roboto Medium";
}

.instruments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.specialIcon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 8px;
  top: 8px;
}