.alert {
    position: fixed;
    right: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    color: #1e2c4f;
    z-index: 999;
    padding: 16px;
}

.unmount {
    animation: slide-out-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.mount {
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-out-top {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}