.registerUnitList {
    margin: 0 auto;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    width: 50vw;
    font-family: "Roboto Light";
    transition: all .2s ease-in;
}

.registerUnitListSkeleton {
    margin: 8px auto;
    padding: 16px;
    border-bottom: none;
    background-image: linear-gradient(
            90deg,
            rgba(221, 221, 221, 0.5) 0px,
            rgba(232, 232, 232, 0.5) 40px,
            rgba(221, 221, 221, 0.5) 80px
    );
    background-size: 600px;
    animation: shine 1.4s infinite linear;
    height: 16px;
    width: 50vw;
    border-radius: 8px;
}

.registerUnitList:hover {
    background-color: rgba(0, 0, 0, .1);
}

.listHeader, .listHeader:hover {
    background-color: #1e2c4f;
    color: #fff;
    font-family: "Roboto Light";
}

.register {
    margin: 16px;
}

.registerHeader {
    background-color: #1e2c4f;
    color: #fff;
    font-family: "Roboto Thin";
    font-weight: 100;
    font-size: 2rem;
    margin: -16px;
    padding: 16px;
}

.register ul {
    margin-top: 32px;
}

.registerDateInput {
    background-color: #1e2c4f;
    color: #fff;
    font-family: "Roboto Light";
    border-radius: 8px;
    padding: 8px;
    margin-left: 16px;
    border: 2px solid #1e2c4f;
}

.registerDateInput:hover {
    border: 2px solid #fff;
}

.registerDateInput:focus {
    outline: none;
}

.registerDateInput::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

@keyframes shine {
    0% {
        background-position: -150px;
    }
    40%,
    100% {
        background-position: 320px;
    }
}

.userSearch {
    background-color: #1e2c4f;
    border-radius: 8px;
    padding: 4px;
    border: 2px solid #1e2c4f;
    color: #fff;
    font-family: "Roboto Light";
    font-size: 1rem;
    margin-top: -8px;
    margin-bottom: -8px;
}

.userSearch:focus {
    border: 2px solid #fff;
    outline: none;
}

.noItemsInfo , .noItemsInfo:hover{
    padding: 32px;
    text-align: center;
    color: #b4b4b4;
    background-color: rgba(255, 255, 255, 0);
    cursor: auto;
    user-select: none;
}

.registerControlPanel {
    position: absolute;
    right: 16px;
    top: 16px;
}

.userLink{
    color: #006ed4;
    padding: 8px;
    margin: -8px;
    border-radius: 8px;
    transition: all .1s linear;
}

.userLink:hover {
    color: #fff;
    background-color: rgba(0, 110, 212, 1);
}