.registerUnitList {
    margin: 0 auto;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    width: 50vw;
    font-family: "Roboto Light";
    transition: all .2s ease-in;
}

.registerUnitList:hover {
    background-color: rgba(0, 0, 0, .1);
}

.listHeader, .listHeader:hover {
    background-color: #1e2c4f;
    color: #fff;
    font-family: "Roboto Light";
}

.register {
    margin: 16px;
}

.registerHeader {
    background-color: #1e2c4f;
    color: #fff;
    font-family: "Roboto Thin";
    font-weight: 100;
    font-size: 2rem;
    margin: -16px;
    padding: 16px;
}

.register ul {
    margin-top: 32px;
}