.loginPage {
  display: grid;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas:
    ". a a ."
    ". a a .";
  background-color: #1e2c4f;
}

.form {
  grid-area: a;
  align-self: center;
  justify-self: center;
  padding: 25px;
  color: #fff;
  font-family: "Roboto Thin";
}

.form h1 {
  color: #fff;
  font-family: "Roboto Thin";
  text-transform: uppercase;
  font-weight: 100;
  font-size: 4rem;
  text-align: center;
  margin: 0;
}

.form a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto Thin";
  font-size: 0.6rem;
  display: block;
  margin: 0 auto;
  width: 220px;
  text-align: center;
}

.inputForm {
  margin: 0 auto;
  position: relative;
}

.inputField {
  background-color: #1e2c4f;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;
  display: block;
  font-family: "Roboto Thin";
  width: 70%;
  margin: 8px auto;
}

.inputField:hover, .errorField:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.inputField:focus, .errorField:focus {
  outline: none;
}

.errorMessage {
  background-color: #dc143c;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  animation: scale-in-ver-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.errorField {
  background-color: #1e2c4f;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 8px;
  display: block;
  font-family: "Roboto Thin";
  width: 70%;
  margin: 8px auto;
  animation: blinking 1s infinite;
}

.buttons {
  display: inline-block;
  position: absolute;
  right: 0;
}

@keyframes blinking {
  0%,
  49% {
    border-bottom: 1px solid #dc143c;
  }
  50%,
  100% {
    border-bottom: 1px solid #fff;
  }
}

@keyframes scale-in-ver-bottom {
  0% {
    transform: scaleY(0);
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
